.SLLhk, .HJRshd .MjJqGe {height: 40px;width: 40px;}
/* .MjJqGe::before {content: "";display: block;height: max(48px, 100%);width: max(48px, 100%);position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);} */
.mt63{margin-top: 63px;}
.z4VVe {display: flex;align-items: center;flex-shrink: 0;min-height: 40px;padding: 6px 16px;
justify-content: flex-end;}

.k4o2Hc {background-color: var(--uv-styles-color-surface);}
.FJ6RFd {transform: scaleX(-1);}
.iM6qI {align-items: flex-start;background: transparent;border: none;display: flex;flex-shrink: 0;padding: 0;}
svg{flex: none;}
.StEefb {position: relative;}
.iM6qI {align-items: flex-start;background: transparent;border: none;display: flex;flex-shrink: 0;padding: 0;}
.MjJqGe {align-items: center;border-radius: 36px;cursor: pointer;display: flex;justify-content: center;min-height: 36px;min-width: 36px;position: relative;width: 100%;user-select: none;box-sizing: border-box;transition: opacity .35s cubic-bezier(.215,.61,.355,1);}
/* content */
.carousel-root {
    outline: none;
    width: 100%;
    height: 280px;
    border-radius: 5px;
  }
.carousel-root img{object-fit: cover;object-position: center;height: 310px;}
.sl{position: relative;}
.d {
    font-weight: bold;
    font-size: 14px;
    color: #333333e8;
    margin-right: 8px;
    position: relative;
    top: 5px;
  }
    .slcontent {
        width: 29px;
        height: 28px;
        background: #80808070;
        color: #fff;
        font-size: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        position: absolute;
        top: -8px;
        border-top: 1px solid gray;
        border-bottom: 1px solid green;
        border-right: 1px solid tomato;
        border-left: 1px solid #2b8c10;
      }
.main_content {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    justify-content: flex-start;
    line-height: 0;
    margin: 0 auto;
    min-height: 26vh !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 3;
    background: #f1f3f4;
    margin-bottom: 12px;
}
.notification {
  padding: 6px 12px;
  margin-top: 25px;
  background: #fff;
  border-radius: 5px;
  width: calc(100% - 1%);
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 6px 0 rgba(0,0,0,.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
  border: 1px solid #69ac042d;
}
.notification:hover{
    cursor: pointer;
    background-color: #fefefe;
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,.2);
}

.notification h4{display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    color: rgb(118, 118, 118);
    font-weight: 500;}
.notification svg{font-size: 30px;
    padding: 2px;
    border: 1px solid rgba(204, 204, 204, 0.8);
    background: rgb(255, 255, 255);
    border-radius: 50px;}
.indIKd {
    color: var(--uv-styles-color-text-emphasis);
}
.txt_content{padding: 12px 10px;}
.cS4Vcb-pGL6qe-fwJd0c {
    font-family: Google Sans, Arial, sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
}
.cS4Vcb-pGL6qe-k1Ncfe {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
    color: #75757a;
    margin-top: 8px;
}
.efwPxe {
    margin: 18px 0;
    background-color: #e8f0fe;
}
/* context */
.data_context{
    height: 60vh; overflow-y: scroll;
}
/* option */
.op{padding: 10px 4px;}
.op div{margin: 10px 0;}
.op div label {
    font-size: 16px;
    color: #625959;
}
/* visible */
.visible{margin: 10px 0;}
.visible :where(.field input) {
    width: 100%;font-size: 14px;
    padding: 8px 8px;
    border: 2px solid #dddd;
    border-radius: 4px;
}
.visible :where(.field input):focus{
    outline: none;border-color: #c2dfa0;
}
/* grid column */
.grid_col{display: flex; gap: 26px;}
/* inform */
.inform {
    margin: 15px 0;
    margin-top: 35px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffff;
    padding:4px 5px;
  grid-area: 10px;
  padding-left: 3px !important;
  padding-right: 3px !important;
  margin-bottom: 22px !important;
  border-bottom: 0px !important;
}

element {
}
.inform .history:nth-child(1) {
  margin-left: 0%;

}
.inform .history {
  padding: 10px 8px;
  width: calc(100% - 2%);
  text-align: center;
  margin: 0 1%;
    margin-left: 1%;
  transition: all 0.2s ease-in-out;
  background-color: #fefefe;
  border: 1px solid #d7e3e3;
  cursor: pointer;
  border-radius: 8px;

}
.inform .history:hover{
    box-shadow: 2px 2px 18px 0 rgba(0, 0, 0, .2);
}
.inform .history:nth-child(1){margin-left: 0%;}
.inform .history:nth-child(4){margin-right: 0%;}

.inform :where(.infotxt){font-size: 16px;color: #232323;}
.inform :where(.counter){font-size: 15px;color: #232323;margin-bottom: 5px;}
/* econtext */
.econtent {
    border: 1px solid #cccc;
    border-radius: 5px;
    /* height: 43.4vh; */
    height: 35vh;
    margin-top: 26px;
}
.econtent :where(.exam_live) {
  padding: 8px 12px;
    padding-bottom: 8px;
  background: repeating-linear-gradient(#14ff0000,#c4f4c32e,#fff, #edf0eb0d, aliceblue 100px);
  box-shadow: 1px 1px 6px 0 rgb(52 119 223 / 20%);
  border-radius: 4px;
  border: 1px solid #ccccccad;
  margin: 30px 3px;
  padding-bottom: 0;
}
.econtent :where(.exam_live .date) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 3px;
    border-bottom: 1px solid #cccc;
    padding-bottom: 14px;
  }
.econtent :where(.exam_live .context) {
    width: 101.5%;
    display: flex;
    gap: 12px;
    background-color: #ffff;
}
.econtent :where(.exam_live .context .ecp1){
    margin-left: -10px;
  background: #fff;
  padding-left: 10px;
}
.econtent :where(.exam_live .ecp3){
    margin-left: -10px;
  background: #fff;
  padding-left: 10px;
  width: 103%;
}
.econtent :where(.exam_live .context .ecp2){
    margin-left: -10px;
    background: #fff;
    padding-left: 10px;
}
.econtent :where(ul){list-style: none;padding-left: 0px;}
.econtent :where(ul li) {
    font-size: 16px;
    margin: 10px 0;
    letter-spacing: 0.2px;
    color: #24436a;
    line-height: 1.3;
  }
.econtent .ecp3 :where(ul){
    display: flex;
  align-items: center;
  justify-content: left;
  margin-top: -10px;
}
.econtent .ecp3 :where(ul li){
    display: inline-block;
    margin-left: 20px;
}
.econtent .ecp3 :where(ul li):first-child{margin-left: 0px;}

.econtent :where(.controlexam) {
    background: #ededed82;
    box-shadow: 3px 1px 6px 0 rgba(0, 0, 0, .1);
    padding: 3px 8px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
}
.econtent :where(.controlexam h3) {
    color: #232323cc;font-size: 17.5px;
    display: flex;align-items: center;
    gap: 5px;
}
.econtent :where(.controlexam h3 svg) {
    font-size: 30px;
    color: #6aac04;margin-top: -3px;
  }
  .econtent :where(.controlexam input) {
    height: 100%;
    border: 1px solid #cccc;
    padding: 8px 4px;
    border-radius: 4px;
    background: #fff;
  }
.econtent :where(.controlexam input):focus{
    outline: none;
    border-color: #c2dfa0;
}
.econtent :where(.controlexam h4){color: #625959;}
.econtent :where(.controlexam button) {
    padding: 5px 10px;
      padding-top: 5px;
      padding-right: 10px;
      padding-bottom: 5px;
      padding-left: 10px;
    border-color: gainsboro;
    background: gainsboro;
    border-radius: 5px;
    color: #333;
    font-size: 15px;
  }
.econtent :where(.controls){background-color: #fff !important;
        text-align: right;
          background-color: rgba(197, 214, 223, 0.13);
        padding-bottom: 15px;
        width: 103%;
        margin-left: -10px;
        padding-left: 10px;
        padding-right: 10px;
}
.econtent :where(.controls button svg){font-size: 20px;} 
.econtent :where(.controls button) {
    padding: 6px;
    width: 100%;
    margin-top: 7px;
    font-size: 17px !important;
    border-radius: 50px;
    color: #ffff;cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: green;
    border-radius: 4px;
    border: 1px solid #80808094;
    display: flex;align-items: center;justify-content: center;gap: 6px;
}

.econtent :where(.controls button):hover{
 border-color: #c2dfa0;
 color: #fff;
 background-color: #6aac04;
}