
.avater a, .inform a{
    width: 160px;
    font-weight: 500;
    color: #646cff;
    text-align: center;
    display: block;
    background: #f0fefe;
    padding: 8px;
    /* box-shadow: 2px 2px 5px rgba(0,0,0,.1); */
    font-size: 15px;
    border-radius: 4px}
    .avater a {
        background: linear-gradient(#adff2f3d,aliceblue);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
      }
      .avater a svg{font-size: 20px;color: green;}
    .inform a{border-radius: 5px;width: 100%;}
.p2{}
.p2 button {
    background-color: #f0f0f091;
    border-radius: 50%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
    cursor: pointer;
}
.p2 button:hover{
 background-color:#ffff;
 box-shadow: 2px 2px 5px 0 rgba(0,0,0,.2);
}