.note{padding: 10px 8px;}
.note h2 {
    border-bottom: 2px solid #3333339e;
    padding-bottom: 4px;
    font-weight: 600;
    color: #333333e0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 10px;
  }
.note h2 svg {
    width: 33px;
    height: 33px;
    border-radius: 6px;
}
.register {
    padding: 18px 2px;
    margin: 1rem 0.4rem;
    border-radius: 4px;
}
.mt63{margin-top: 63px;}
.register :where(.note){}
.register :where(.progress){}
/* flex property */
.flexthis{flex-direction: row !important;align-items: center !important;justify-content: space-between !important;
    background: #c5d6df29; padding: 8px; margin-bottom: 20px !important;
}
.statusicon{display: flex;align-items: center;justify-content: space-between;width: 200px;
    padding: 5px 8px;
}
.statusicon svg{font-size: 23px;}
/* controls */
.controls button{pad: 8px 12px;}
/* reg content */
.regcontent{}
.regcontent :where(.field){display: flex;flex-direction: column; gap: 10px;
padding: 6px 8px;margin-bottom: 3px;
}
.regcontent :where(.field label){}
.regcontent :where(.field input) {
    height: 39px; padding: 0 5px;
    border-radius: 5px;font-size: 16px;
    border: 1px solid #ccc;width: 100%;
}
.regcontent :where(.field input):focus{
    outline: none; border-color: green;
}
/* avater */
.regcontent :where(.avater_field) {
    background: #d1e2eb21;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: center;
    border: 1px dashed #62595966;
    border-radius: 5px;
    margin-left: 6px;
    margin-right: 6px;
    padding: 14px;
    margin-top: 13px;
}
.regcontent :where(.avater_field svg){    font-size: 30px;
    color: #3339;
    position: relative;
    top: 6px;}
.regcontent :where(.field label) {
    font-size: 16px;
    color: #333333e0;
}
.regcontent :where(.avater_field button){}
/* controls */
.controls {
    text-align: right;
    background: #c5d6df21;
    padding-bottom: 15px;
}
.controls button {
    padding: 6px 28px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.controls button:nth-child(2){margin-left: 30px;margin-right: 10px;}
.login_op{background-color: gainsboro; padding: 8px;text-align: center;}
.login_op a{color: blue; font-size: 15px;}
.login_op span{font-size: 15px; color: #292e32;}